/* Blog entry container */

.blog-entry {
    border: solid;
    border-color: var(--fg);
    border-width: 0 0 3px 0;
    min-width: 40rem;
}

/* Blog post entry container for title and date */
.blog-entry-title-container {
    display: flex;
    justify-content: left;
}

/* Blog post entry title link */

.blog-entry a {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.blog-entry a:hover {
    text-decoration: underline;
}

/* Blog entry date */

.blog-entry-date {
    font-size: 1.2rem;
    margin: 0 0 0 1rem;
    align-self: flex-end;
    font-weight: 300;
}
