@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bg: #222323;
    --fg: #f0f6f0;
}

html,
body {
    font-family: "Montserrat";
    background-color: var(--bg);
    color: var(--fg);
}

body {
    padding: 2rem 2em;
}

a {
    color: var(--fg);
}

a:hover {
    font-weight: 500;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/* Main site title */

#site-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;
}
