/* Style my profile picture to match the site theme */

#pulsar {
    width: 10rem;
}

/* Main content split */

#about-content {
    display: flex;
}

#about-text {
    width: 60%;
}

#pulsar {
    width: 40%;
    margin-right: 1em;
}
