/* Style my profile picture to match the site theme */

#pulsar {
    width: 5rem;
}

.pulsar {
    color: var(--fg);
}

main {
  --max-width: 80em;
  padding: 0 min(30%, calc((100% - var(--max-width)) / 2));
}
